@use "variables" as vari;

.about-page {
    .movie-db-logo {
        max-width: 200px;
        display: block;
        margin: 0 auto;

        @media screen and (min-width: 769px) {
            margin: 0 auto 0 0;
        }
    }

    article {
        @media screen and (min-width: 769px) {
            width: 50%;    
        }
    }
}

.about-box{
    margin: 0 auto 50px;
    min-width: 260px;
    padding: 15px;
    background-color: rgba(255,255,255,.85);

    article {
        margin-bottom: 3rem;
    }
}

.about-socials {
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.about-page a {
        color: vari.$black-color;

        :hover {
            color: red;
        }
}

@media screen and (min-width: 769px) {
    .about-socials {
        margin: 0 auto 0 0;
    }

    .about-page h2 {
        text-align: left;
    }

    .movie-db-logo {
        margin: 0 auto 0 0;
    }    
}

.about-details {
    position: absolute;
    top: 263px;
}


