

body {
    margin: 0;
}

#root::before {
    content: '';
    background-image: url('../images/film-bg-contrast.jpg');
    position: fixed;
    background-attachment: fixed;
    background-size: cover;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -100;
    opacity: 0.2;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    margin: 0 auto 50px;
    width: 90%;
    min-width: 260px;
    max-width: 1200px;


}