header {
    margin-bottom: 150px;
}

.header-wrapper {
    margin: 0;
    padding: 0;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-image: url('../images/film-bar.jpg');
    background-position: top left;
    background-repeat: no-repeat;
    img {
        height: 79px;
    }
    .hamburger-icon {
        position: absolute;
        right: 0;
        top: 15px;
    }
    .logo-desktop {
        display: none;
    }

    .nav-menu {
        padding: 0;
        margin: 0;
        transition: margin 1100ms;
        height: 100%;
        li {
            // width: 150px;
            list-style: none;
            text-align: center;
            background-color: white;
            
        }


    }

}

@media (min-width: 800px) {
.header-wrapper {
    .hamburger-icon {
        display: none;
    }
    .logo-mobile {
        display: none;
    }

    .logo-desktop {
        display: inline-block;
    }

    .nav-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            width: 150px;
        }


    }
}
}

