@media (min-width: 850px) {

        .logo-mobile {
            display: none;
        }
    }



.main-nav-mobile {
    width: 100%;
    position: absolute;
    top: 79px;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: height 0.6s ease, visibility 0s 0.5s;

    .nav-menu-mobile {
        padding: 0;
        margin: 0;
        height: 100%;
        li {
            list-style: none;
            text-align: center;
            background-color: white;        
        }
    }

    .show & {
        transition: height 0.5s ease, visibility 0s;
        visibility: visible;
        height: 254px;
    }

    ul {
        // @include flatten($is-list: true);
    }
    a {
        // color: $light;
        text-decoration: none;
        display: block;
        line-height: 50px;
        font-size: 1.3em;
        font-weight: bold;
        padding: 0 ;
        @at-root .main-nav-mobile li:not(:first-child) a {
            border-top: 1px solid grey;
        }
        &:hover,
        &:focus,
        &:active {
            background-color: rgba(white, 0.2);
        }
    }

    // @media (min-width: em(600)){
    //     height: auto;
    //     visibility: visible;
    //     transition: none;

    //     .show & {
    //         transition: none;
    //         height: auto;
    //     }
        
    //     ul {
    //         display: flex;
    //     }

    //     li {
    //         flex: 1;
    //     }

    //     a {
    //         padding: 0;
    //         text-align: center;
    //         border-top:  none;
    //         @at-root .main-nav-mobile li:not(:first-child) a {
    //             border-top: none;
    //             border-left: 3px solid grey;
    //         }
    //     }

    // }

}