@media (min-width: 769px) {

        .logo-mobile {
            display: none;
        }
    }

.main-nav-mobile {
    width: 100%;
    position: absolute;
    top: 79px;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: height 0.6s ease, visibility 0s 0.5s;

    .nav-menu-mobile {
        padding: 0;
        margin: 0;
        height: 100%;
        li {
            list-style: none;
            text-align: center;
            background-color: white;        
        }
    }

    .show & {
        transition: height 0.5s ease, visibility 0s;
        visibility: visible;
        height: 254px;
    }

    a {
        text-transform: uppercase;
        color: black;
        text-decoration: none;
        display: block;
        line-height: 50px;
        font-size: 1.3em;
        font-weight: bold;
        padding: 0 ;
        @at-root .main-nav-mobile li:not(:first-child) a {
            border-top: 1px solid grey;
        }
        &:hover,
        &:focus,
        &:active {
            background-color: rgba(white, 0.2);
        }
    }

}

.mobile-search-bar {
    box-sizing: border-box;
    height: 48px;
    border: none;
    text-align: center;
    font-family: 'Fira Sans Condensed';
    font-weight: bold;
    font-size: 1.25rem;
    width: 100%;
    text-transform: uppercase;
    
}



.mobile-search-wrapper {
    border-top: 1px solid gray;
}

input#mobile-search.mobile-search-bar:focus {
    outline: none;
    border: 1px solid red;
}