.nav-sort {
    ul {
        margin: 0 auto 1rem;
        display: grid;
        grid-template-columns: 40% 40%;
        justify-items: center;
        justify-content: center;
        list-style: none;
        padding: 10px 0;
        text-decoration: none;
    
        li {
            text-transform: uppercase;
            padding: 5px 0;
            text-align: center;
            margin: 5px 0 0 0;

            a{
                text-decoration: none;
                color: black;
                padding: 5px 10px;
            }
        }
        .active{
            background-color: red;
            color: white;
        }
    }

}

@media (min-width:410px){
    .nav-sort {
        display: block;
        margin: 0 auto;

       ul {
            display: flex;
            justify-content: center;
            margin-bottom: 0;
            
        }

        li{
            font-weight:400;
            text-transform: uppercase;
            border-bottom: 1px solid red;
            a{
                text-decoration: none;
                color: black;
                padding: 5px 10px;
            }
        }
    }
}
