.nav-sort {
    display: none;
}

@media (min-width:700px){
    .nav-sort {
        display: block;
        margin: 100px auto 0;
        width: 700px;

        ul {

            list-style: none;
            display: flex;
            justify-content: space-evenly;
            padding: 0 20px;
            
        }
    }
}