.nav-sort {
    display: flex;
}

@media (min-width:700px){
    .nav-sort {
        display: block;
        margin: 0 auto;
        width: 700px;

        ul {

            list-style: none;
            display: flex;
            justify-content: center;
            padding: 10px 40px;
            text-decoration: none;
            
        }

        li{
            
            padding: 10px;
            font-weight:400;
            text-transform: uppercase;
            border-bottom: 1px solid red;
            a{
                text-decoration: none;
                color: black;
            }

        }

        .active{
            border: 10px solid red;
            background-color: red;
            color: white;
            border-radius: 12px 12px 0 0;

        }

    }
}