.header-wrapper-desktop{
    display: none;

    @media (min-width: 800px) {
    display: block;
  }

}

.logo-desktop {
    display: none;

    @media (min-width: 800px) {
        display: inline-block;
    }
}