.btn-main-nav {

    // @include flatten;
    border: none;
    background: none;
    margin-right: em(12);
    position: fixed;
    top: 21px;
    z-index: 129;
    right: 5px;

    &:hover{
        cursor: pointer;
    }

    .line{
        width: 35px;
        height: 4px;
        // background-color: $dark;
        background-color: black;
        display: block;
        margin: 5px auto;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;

        .show &:nth-child(2){
            width: 0;
        }

        .show &:nth-child(1), .btn-main-nav.show .line:nth-child(3){
            transition-delay: 0.3s;
        }

        .show &:nth-child(1){
            transform: translateY(13px);
        }

        .show &:nth-child(3){
            transform: translateY(-5px) rotate(90deg);
        }

    }
      
    .show & {
        transition: all 0.3s ease-in-out;
        transition-delay: 0.6s;
        transform: rotate(45deg);
    }

    @media (min-width: 800px){
        display: none;
    }

}