.single-movie-poster{
    img{
        // margin-top: 100px;
        width: 328px;
    }
}

// .single-movie-backdrop{
//     width: 600px;
// }


.cast-info {
    display: flex;
    justify-content: center;
    width: 1200px;
    margin: 0 auto;


}

.cast-member {
    width: 200px;
    border: 1px solid white;
    img{
        width: 100%;
    }
}

.details-genres {
    display: flex;
}



.single-movie-container {

    position: relative;
    margin: 200px auto;
    border: 5px solid white;
    width: 90%;
    max-width: 1179px;
    height: 511px;
    // margin: 30px auto;
    padding: 20px;

    .single-movie-poster,
    .single-movie-container {
        position: relative;
        z-index: 2;
    }

    .single-movie-backdrop {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-size: cover;
        // object-fit: cover;
        opacity: .1;
    }


p {
    line-height: 1.4;
}

@media (min-width: 600px){

    display: flex;

    .single-movie-poster{
        flex: 0 0 328px;

    }
}
}