
.single-movie-container {
    position: relative;
    min-width: 288px;
    max-width: 565px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    line-height: 1.5;



    @media (min-width: 800px){
        max-width: 1179px;
    }

    svg {
        width: 1.5em;
        height: 1.5em;
    }

    svg:hover {
        fill: red;
    }

    h1 {
        @media screen and (min-width: 800px) {
            text-align: left;    
        }
        
    }
}

.genres-list {
    list-style: none;
    display: flex;
    padding-left: 0;
    margin-left: 0;

    li {
        font-style: italic;
        padding-right: .4rem;
    }
}

.single-movie-rating-section {
    font-size: 1.25em;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    
    @media screen and (min-width: 800px) {
        max-width: 315px;
        display: block;
    }
}

.single-movie-backdrop {
    display: none;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    opacity: .1;

    @media (min-width: 800px){
        display: block;
    }
}

.single-movie-shader {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // background-size: cover;
    opacity: 1;
    background-color: rgb(255, 255, 255);
}

.single-movie-poster{
    img{
        display: block;
        margin: 0 auto;
        width: 100%;
        // max-width: 400px;

        @media (min-width: 800px){
            width: 95%;
            margin: 0;
        }
    }
}

.single-movie-details {

    @media (min-width:800px){
        display: grid;
        grid-template-columns: 380px 1fr;
    }
    @media (min-width:1000px){
        // display: grid;
        grid-template-columns: 450px 1fr;
    }
}

.single-movie-info {
    h2{
        margin: 0 0 10px 0;
    }
}
.single-movie-info-details {
    display: flex;
    width: 200px;
    justify-content: space-between;
}

.details-genres {
    display: flex;
}


.single-movie-icons {
    display: flex;
    gap: 1rem;
}




#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 200;
    cursor: pointer;
}











.single-movie-container {





p {
    line-height: 1.4;
}

}






.screenshot {
    position:absolute;
    top: 180px;
    right: 181px;

    img {
        width: 120px;
        border:3px solid white;
    }
}