.single-movie-container {
    position: relative;
    width: 90%;
    min-width: 288px;
    max-width: 565px;
    // max-width: 1179px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;

    @media (min-width: 800px){
        max-width: 1179px;
    }
}

.single-movie-backdrop {
    display: none;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    opacity: .1;

    @media (min-width: 450px){
        display: block;
    }
}

.single-movie-shader {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // background-size: cover;
    opacity: 1;
    background-color: rgb(255, 255, 255);
}

.single-movie-poster{
    img{
        display: block;
        margin: 0 auto;
        width: 100%;
        // max-width: 400px;

        @media (min-width: 800px){
            width: 95%;
            margin: 0;
        }
    }
}

.single-movie-details {

    @media (min-width:800px){
        display: grid;
        grid-template-columns: 380px 1fr;
    }
    @media (min-width:1000px){
        // display: grid;
        grid-template-columns: 450px 1fr;
    }
}

.single-movie-info {
    h2{
        margin: 0 0 10px 0;
    }
}









.cast-card {
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    row-gap: 21px;
    column-gap: 21px;
    justify-content: center;
    width: 90%;
    min-width: 288px;
    max-width: 1179px;
    margin: 0 auto;
    img{
        width: 158px;
        border: 10px solid white;
    }


}


.details-genres {
    display: flex;
}



.single-movie-container {





p {
    line-height: 1.4;
}

}



.cast-poster {
    width: 171px;

    @media (min-width: 800px){
        width: 178px;

    }
}


.cast-poster:hover .cast-info-bg {
    opacity: .85;
    transition: all .5s ease-out;
}

.cast-poster:hover .cast-info {
    opacity: 1;
    transition: all .5s ease-out;
    z-index:1;
}

.cast-info-bg{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: black;
    height: 237px;
    width: 159px;
    transition: all 0.5s ease;
    z-index:-1;
}

.cast-info {
    position: absolute;
    color: white;
    opacity: 0;
    width: 148px;
    padding: 2px 15px;
    // z-index:9;

    .cast-name {
        font-size: 95%;
        font-weight: 500;
    }

    .cast-character {
        font-size: 90%;
    }
}

.cast-more-info-button{
    border: 1px solid white;
    padding: 10px 30px;
    width: 80px;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: white;
    position: absolute;
    top: 191px;
    left: 18px;
}


.screenshot {
    position:absolute;
    top: 180px;
    right: 181px;

    img {
        width: 120px;
        border:3px solid white;
    }
}