.cast-card {
    display: flex;
    flex-wrap: wrap;
    row-gap: 21px;
    column-gap: 21px;
    justify-content: center;
    // width: 90%;
    min-width: 288px;
    max-width: 1179px;
    margin: 0 auto;
    img{
        width: 158px;
        border: 10px solid white;
    }


}

.cast-poster {
    width: 171px;

    @media (min-width: 800px){
        width: 178px;

    }
}


.cast-poster:hover .cast-info-bg {
    opacity: .85;
    transition: all .5s ease-out;
}

.cast-poster:hover .cast-info {
    opacity: 1;
    transition: all .5s ease-out;
    z-index:1;
}

.cast-info-bg{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: black;
    height: 237px;
    width: 159px;
    transition: all 0.5s ease;
    z-index:-1;
}

.cast-info {
    position: absolute;
    color: white;
    opacity: 0;
    width: 148px;
    padding: 2px 15px;

    .cast-name {
        font-size: 95%;
        font-weight: 500;
    }

    .cast-character {
        font-size: 90%;
    }
}

.cast-more-info-button{
    border: 1px solid white;
    padding: 10px 30px;
    width: 80px;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: white;
    position: absolute;
    top: 191px;
    left: 18px;

    a{
        color: white;
    }
}

.cast-more-info-button:hover {
    background-color: rgba(255,255,255,.85);
    a{color: black;}
}